body {
    margin: 5%;
}

header {
    font-family: 'Inconsolata', monospace;
    color: #333;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 5%;
}

img {
    width: 90%;
    display: block;
    margin: 20% 5%;
}

.text {
    font-family: 'Space Mono', monospace;
    margin: 10% auto;
}

h1 {
    color: #333;
    font-weight: 700;
    font-size: 2.6rem;
}

p {
    color: #333;
    font-weight: 400;
    font-size: 1rem;
}

button {
    background-color: #4f4f4f;
    font-weight: 700;
    font-size: .58rem;
    border-style: none;
    text-align: center;
    padding: 1.5em 2.6em;

}

button a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

footer {
    display: flex;
    justify-content: center;
}


footer p {
    font-family: 'Montserrat', sans-serif;
    color: #bdbdbd;
    font-weight: 500;
    font-size: .58rem;
}

/*When page width gets too big, content overflows into footer
    position: absolute;
    bottom: 0;
*/

@media screen and (min-width: 500px) {
    .main-content {
        display: flex;
        margin: 0 5%;
    }

    img {
        width: 40%;
        margin: auto 5%;
    }
}